<!-- Insert a team -->
<form action="/teams-insert" method="get">
  <fieldset>
    <legend>
      Add a team
    </legend>
    <label>City: </label>
    <input type="text" name="city" required />
    <label>Mascot: </label>
    <input type="text" name="mascot" required />
    <label>Stadium: </label>
    <input type="text" name="stadium" required />
    <input type="submit" id="teamSubmit" href="/teams" />
  </fieldset>
</form>

<!-- Insert a positionGroup -->
<form action="/positionGroup-insert" method="get">
  <fieldset>
    <legend>
      Add a Position Group
    </legend>
    <label>Position Group: </label>
    <input type="text" name="positionGroup" />
    <input type="submit" id="positionGroupSubmit" href="/positionGroup" />
  </fieldset>
</form>

<form action="/insert" method="get">
  <fieldset>
    <legend>
      Add a position
    </legend>
    <label>Position: </label>
    <input type="text" name="position" />
    <input type="submit" id="positionSubmit" />
  </fieldset>
</form>

<form action="/insert" method="get">
  <fieldset>
    <legend>
    Add a player
    </legend>
    <label>Player Number: </label>
    <input type="number" name="pNumber" />
    <label>First Name: </label>
    <input type="text" name ="firstName" />
    <label>Last Name: </label>
    <input type="text" name="lastName" />
    <label>Age: </label>
    <input type="number" name="age" />
    <label>Team: </label>
    <select>
      {{#each teams}}
      <option value="{{this.mascot}}">{{this.mascot}}</option>
      {{/each}}
    </select>
    <label>Position Group</label>
    <select>
      {{#each positionGroup}}
      <option value="{{this.positionGroup}}">{{this.positionGroup}}</option>
      {{/each}}
    </select>
    <select>
      {{#each positions}}
      <option value="{{this.position}}">{{this.position}}</option>
      {{/each}}
    </select>
    <input type="submit" id="playerSubmit" />
  </fieldset>
</form>

<!-- TODO Stats Table -->
