<!-- Insert a team -->
<form action="/teams-insert" method="get">
  <fieldset>
    <legend>
      Add a team
    </legend>
    <label>City: </label>
    <input type="text" name="city" required />
    <label>Mascot: </label>
    <input type="text" name="mascot" required />
    <label>Stadium: </label>
    <input type="text" name="stadium" required />
    <input type="submit" id="teamSubmit"/>
  </fieldset>
</form>

<!-- Insert a positionGroup -->
<form action="/positionGroup-insert" method="get">
  <fieldset>
    <legend>
      Add a Position Group
    </legend>
    <label>Position Group: </label>
    <input type="text" name="positionGroup" />
    <input type="submit" id="positionGroupSubmit" href="/insert" />
  </fieldset>
</form>

<!-- Insert a position -->
<form action="/positions-insert" method="get">
  <fieldset>
    <legend>
      Add a position
    </legend>
    <label>Position Group</label>
    <select name = "positionGroup">
      {{#each positionGroup}}
      <option value="{{inc @index}}">{{this.positionGroup}}</option>
      {{/each}}
    </select>
    <label>Position: </label>
    <input type="text" name="position" />
    <input type="submit" id="positionSubmit" />
  </fieldset>
</form>

<!-- Insert a player -->
<form action="/player-insert" method="get">
  <fieldset>
    <legend>
    Add a player
    </legend>
    <label>Player Number: </label>
    <input type="number" name="pNumber" />
    <label>First Name: </label>
    <input type="text" name ="firstName" />
    <label>Last Name: </label>
    <input type="text" name="lastName" />
    <label>Age: </label>
    <input type="number" name="age" />
    <label>Team: </label>
    <select name ="mascot">
      {{#each teams}}
      <option value="{{inc @index}}">{{this.mascot}}</option>
      {{/each}}
    </select>
    <label>Position Group</label>
    <select name="positionGroup">
      {{#each positionGroup}}
      <option value="{{inc @index}}">{{this.positionGroup}}</option>
      {{/each}}
    </select>
    <select name="position">
      {{#each positions}}
      <option value="{{inc @index}}">{{this.position}}</option>
      {{/each}}
    </select>
    <input type="submit" id="playerSubmit" />
  </fieldset>
</form>

<!-- Insert offsensiveStats -->

<form action="/offensiveStats-insert" method="get">
  <fieldset>
    <legend>
      Add Offensive Stats
    </legend>
    <select name="playerNumber">
      {{#each players}}
      <option value="{{inc @index}}">
        {{this.firstName}} {{this.lastName}}
      </option>
      {{/each}}
    </select>
    <label>Passing Attempts: </label>
    <input type="number" name="passingAttempts" />
    <label>Passes Completed: </label>
    <input type="number" name="passesCompleted" />
    <label>Passing Yards: </label>
    <input type="number" name="passingYards" />
    <label>Rushing Yards: </label>
    <input type="number" name="rushingYards" />
    <label>Rushing Attempts: </label>
    <input type="number" name="rushingAttempts" />
    <label>Receptions: </label>
    <input type="number" name="receptions" />
    <label>Targets: </label>
    <input type="number" name="targets" />
    <label>Receiving Yards </label>
    <input type="number" name="receivingYards" />
    <input type="submit" id="offsensiveStatsSubmit" />
  </fieldset>
</form>

<!-- Insert defensiveStats -->
<form action="/defensiveStats-insert" method="get">
  <fieldset>
    <legend>
      Add Defensive Stats
    </legend>
    <select name="playerNumber">
      {{#each players}}
      <option value="{{inc @index}}">
        {{this.firstName}} {{this.lastName}}
      </option>
      {{/each}}
    </select>
    <label>Sacks: </label>
    <input type="number" name="sacks" />
    <label>Tackles: </label>
    <input type="number" name="tackles" />
    <label>Forced Fumbles: </label>
    <input type="number" name="forcedFumbles" />
    <label>Interceptions: </label>
    <input type="number" name="interceptions" />
    <input type="submit" id="defensiveStatsSubmit" />
  </fieldset>
</form>

<!-- Insert specialTeamsStats -->

<form action="/specialTeamsStats-insert" method="get">
  <fieldset>
    <legend>
      Add Special Teams Stats
    </legend>
    <select name="playerNumber">
      {{#each players}}
      <option value="{{inc @index}}">
        {{this.firstName}} {{this.lastName}}
      </option>
      {{/each}}
    </select>
    <label>Field Goal Attempts: </label>
    <input type="number" name="fieldGoalAttempts" />
    <label>Field Goals Made: </label>
    <input type="number" name="fieldGoalMade" />
    <label>Punts: </label>
    <input type="number" name="punts" />
    <label>avergePuntYards: </label>
    <input type="number" name="avergePuntYards" />
    <input type="submit" id="specialTeamsStatsSubmit" />
  </fieldset>
</form>
