<div class="jumbotron">
  <h1 class="display-3">Search</h1>
  <hr class="my-4">
  <p>Search by Team</p>
<form action="/searchByTeam">
  <select name="teamID">
{{#each teams}}
<option value="{{inc @index}}">{{this.mascot}}</option>
{{/each}}
</select>
  <input type="submit" class="btn btn-primary" id="playerByTeamSearch" />
</form>
  <p>Search by Position</p>
<form action="/searchByPosition">
  <select name="positionID">
{{#each positions}}
<option value="{{inc @index}}">{{this.position}}</option>
{{/each}}
</select>
  <input type="submit" class="btn btn-primary" id="playerByPositionSearch" />
</form>
</div>

<table class="table table-striped" id="positionGroupTable">
  <thead class="thead-inverse">
    <tr>
      <th>
        Number
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Team
      </th>
      <th>
        Postion
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each players}}
      <td>
        {{this.pNumber}}
      </td>
      <td>
        {{this.firstName}}
      </td>
      <td>
        {{this.lastName}}
      </td>
      <td>
        {{this.mascot}}
      </td>
      <td>
        {{this.position}}
      </td>
      </tr>
    {{/each}}
  </tbody>
</table>
