<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Teams Table
        </a>
      </h5>
    </div>
    <!-- Teams Table -->
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <table class="table table-striped" id="teamsTable">
          <thead class="thead-inverse">
            <tr>
              <th>
                City
              </th>
              <th>
                Mascot
              </th>
              <th>
                Stadium
              </th>
              <th>
                Edit
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each teams}}
              <td>
                {{this.city}}
              </td>
              <td>
                {{this.mascot}}
              </td>
              <td>
                {{this.stadium}}
              </td>
              <td>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{this.teamID}}" aria-expanded="false" aria-controls="collapseExample">Edit</button>
            <div class="collapse" id="{{this.teamID}}">
              <div class="card card-block">
                <form action="/teams-update" method="get">
                  <fieldset>
                    <legend>
                      Update Teams
                    </legend>
                    <input type="hidden" name="teamID" value= {{this.teamID}} />
                    <div class="form-group">
                      <label>City: </label>
                      <input type="text" name="city" value= {{this.city}} />
                    </div>
                    <div class="form-group">
                      <label>Mascot: </label>
                      <input type="text" name="mascot" value= {{this.mascot}} />
                    </div>
                    <div class="form-group">
                      <label>Stadium: </label>
                      <input type="text" name="stadium" value= "{{this.stadium}}"/>
                    </div>
                    </div>
                    <button class="btn btn-warning" type="submit" id="teamSubmit" />Submit</button>
                  </fieldset>
                </form>
              </div>
            </div>
              </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Positions Group Table -->
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Position Groups Table
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <table class="table table-striped" id="positionGroupTable">
          <thead class="thead-inverse">
            <tr>
              <th>
                Position Group
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each positionGroup}}
              <td>
                {{this.positionGroup}}
              </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Positions Table -->
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Positions
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        <table class="table table-striped" id="positionGroupTable">
          <thead class="thead-inverse">
            <tr>
              <th>
                Positions
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each positions}}
              <td>
                {{this.position}}
              </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Players Table -->
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      Players
    </a>
  </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="card-block">
        <table class="table table-striped" id="positionGroupTable">
          <thead class="thead-inverse">
            <tr>
              <th>
                Number
              </th>
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Age
              </th>
              <th>
                Team
              </th>
              <th>
                Position Group
              </th>
              <th>
                Position
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each players}}
              <td>
                {{this.pNumber}}
              </td>
              <td>
                {{this.firstName}}
              </td>
              <td>
                {{this.lastName}}
              </td>
              <td>
                {{this.age}}
              </td>
              <td>
                {{this.team}}
              </td>
              <td>
                {{this.positionGroup}}
              </td>
              <td>
                {{this.position}}
              </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Offsenive Stats -->
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      Offsenive Stats
    </a>
  </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="card-block">
        <table class="table table-striped" id="offsensiveStatsTable">
          <thead class="thead-inverse">
            <tr>
              <th>
                Player Number
              </th>
              <th>
                Passing Attempts
              </th>
              <th>
                Passes Completed
              </th>
              <th>
                Passing Yards
              </th>
              <th>
                Rushing Yards
              </th>
              <th>
                Rushing Attempts
              </th>
              <th>
                Receptions
              </th>
              <th>
                Targets
              </th>
              <th>
                Receiving Yards
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each offsensiveStats}}
              <td>
                {{this.playerNumber}}
              </td>
              <td>
                {{this.passingAttempts}}
              </td>
              <td>
                {{this.passesCompleted}}
              </td>
              <td>
                {{this.passingYards}}
              </td>
              <td>
                {{this.rushingYards}}
              </td>
              <td>
                {{this.rushingAttempts}}
              </td>
              <td>
                {{this.receptions}}
              </td>
              <td>
                {{this.targets}}
              </td>
              <td>
                {{this.receivingYards}}
              </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Defensive Stats Table -->
  <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <h5 class="mb-0">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
      Defensive Stats
    </a>
  </h5>
    </div>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="card-block">
        <table class="table table-striped" id="defensiveStatsTable">
          <thead class="thead-inverse">
            <tr>
              <th>
                Player Number
              </th>
              <th>
                Sacks
              </th>
              <th>
                Tackles
              </th>
              <th>
                Forced Fumbles
              </th>
              <th>
                Interceptions
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each defensiveStats}}
              <td>
                {{this.playerNumber}}
              </td>
              <td>
                {{this.sacks}}
              </td>
              <td>
                {{this.tackles}}
              </td>
              <td>
                {{this.forcedFumbles}}
              </td>
              <td>
                {{this.interceptions}}
              </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- Special Teams Stats -->
<div class="card">
  <div class="card-header" role="tab" id="headingSeven">
    <h5 class="mb-0">
  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
    Special Teams Stats
  </a>
</h5>
  </div>
  <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
    <div class="card-block">
      <table class="table table-striped" id="specialTeamsStatsTable">
        <thead class="thead-inverse">
          <tr>
            <th>
              Player Number
            </th>
            <th>
              Field Goal Attempts
            </th>
            <th>
              Field Goals Made
            </th>
            <th>
              Punts
            </th>
            <th>
              Average Punt Yards
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each specialTeamsStats}}
            <td>
              {{this.playerNumber}}
            </td>
            <td>
              {{this.fieldGoalAttempts}}
            </td>
            <td>
              {{this.fieldGoalMade}}
            </td>
            <td>
              {{this.punts}}
            </td>
            <td>
              {{this.avergePuntYards}}
            </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
