<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Teams Table
        </a>
      </h5>
    </div>
<!-- Teams Table -->
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <table id="teamsTable">
          <thead>
            <tr>
              <th>
                City
              </th>
              <th>
                Mascot
              </th>
              <th>
                Stadium
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each teams}}
              <td>
                {{this.city}}
              </td>
              <td>
                {{this.mascot}}
              </td>
              <td>
                {{this.stadium}}
              </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- Positions Group Table -->
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Position Groups Table
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <table id="positionGroupTable">
          <thead>
            <tr>
              <th>
                Position Group
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each positionGroup}}
              <td>
                {{this.positionGroup}}
              </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
<!-- Positions Table -->
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Positions
        </a>
      </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <table id="positionGroupTable">
            <thead>
              <tr>
                <th>
                  Positions
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each positions}}
                <td>
                  {{this.position}}
                </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
<!-- Players Table -->
<div class="card">
  <div class="card-header" role="tab" id="headingFour">
    <h5 class="mb-0">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      Players
    </a>
  </h5>
  </div>
  <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="card-block">
      <table id="positionGroupTable">
        <thead>
          <tr>
            <th>
              Number
            </th>
            <th>
              First Name
            </th>
            <th>
              Last Name
            </th>
            <th>
              Age
            </th>
            <th>
              Team
            </th>
            <th>
              Position Group
            </th>
            <th>
              Position
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each players}}
            <td>
              {{this.pNumber}}
            </td>
            <td>
              {{this.firstName}}
            </td>
            <td>
              {{this.lastName}}
            </td>
            <td>
              {{this.age}}
            </td>
            <td>
              {{this.team}}
            </td>
            <td>
              {{this.positionGroup}}
            </td>
            <td>
              {{this.position}}
            </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>
